body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222; /* Darker background */
    color: #8fbc8f; /* Greenish text */
    text-align: center; /* Center content */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto; /* Centered and with space */
    background-color: #333; /* Darker background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.profile-photo {
    display: block;
    max-width: 400px; 
    height: auto;    
    margin: 0 auto;
    border-radius: 8px;
}

.about-me, .ctf-labs-link, .linkedin-link, .feedback-link, .return-home, .return-links, .Link {
    text-align: center;
    margin-top: 20px;
}

/* General link styling for all links */
a {
    text-decoration: none;
    color: #8fbc8f; /* Greenish color for unvisited links */
    font-size: 1.2em;
}

a:visited {
    color: #8fbc8f; /* Keep visited links the same green color */
}

a:hover {
    color: #a0dca0; /* Slightly lighter green when hovered */
    text-decoration: underline; /* Optional hover underline */
}

a:active {
    color: #6aa469; /* Slightly darker green when active (clicked) */
}

h2 {
    color: #8fbc8f; /* Greenish heading text */
}

#ctf-labs ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#ctf-labs li {
    margin: 10px 0;
}

#ctf-labs a {
    text-decoration: none;
    color: #8fbc8f; /* Greenish color for unvisited links */
    font-size: 1.2em;
}

#ctf-labs a:visited {
    color: #8fbc8f; /* Greenish color for visited links */
}

#ctf-labs a:hover {
    color: #a0dca0; /* Lighter green on hover */
    text-decoration: underline;
}

#ctf-labs a:active {
    color: #6aa469; /* Slightly darker green for active links */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border: 2px solid #8fbc8f;
    border-radius: 8px;
}

video {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border: 2px solid #8fbc8f;
    border-radius: 8px;
}
